<!-- <ion-content class="no-scroll">
  <div padding>
    <div style="padding-top:10%">
  -->

<!-- <div class="home_banner" padding-bottom>
  <img src="assets/img/InstantDealLogo1.png">
</div>
      </div>
      <ion-list no-lines>
        <form [formGroup]="emailPasswordForm">
          <ion-item>
            <ion-input type="text" formControlName="email" placeholder="אימייל"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input type="password" formControlName="password" placeholder="סיסמא"></ion-input>
            <br>

          </ion-item>
<button item-right ion-button clear color="gray" (click)="forgotPassword()">שכחתי סיסמא ?</button>
          <div style="padding: 10px;">
            <button ion-button color="dark" block tappable (click)="login()" [disabled]="!emailPasswordForm.valid">התחבר</button>
          </div>
        </form>
      </ion-list>
    </div>
    <div style="text-align:center; margin-top: 2rem;">
      <p style="font-weight: 500; color:#444">התחבר באמצעות</p>
      <button *ngIf="facebookLoginEnabled==true" ion-button color="facebook" tappable (click)="loginProvider.facebookLogin()">
        <ion-icon name="logo-facebook"></ion-icon>
      </button>
      <button *ngIf="googleLoginEnabled==true" ion-button color="google" tappable (click)="loginProvider.googleLogin()">
        <ion-icon name="logo-google"></ion-icon>
      </button>
      <button ion-button color="dark" tappable (click)="registerModel()">
        <ion-icon name="ios-mail-outline"></ion-icon>
      </button>
      <button *ngIf="phoneLoginEnabled==true" ion-button color="dark" tappable (click)="loginProvider.phoneLogin()">
        <ion-icon name="phone-portrait"></ion-icon>
      </button>
    </div> -->

<ion-content class="background">
<br><br><br><br>
<br><br>

  <ion-card>
    <ion-card-header>
<button ion-button block full disabled=true color=primary >התחברות</button>
    </ion-card-header>
    <ion-card-content>
<form [formGroup]="emailPasswordForm">
      <ion-list no-line>
        <ion-item>
<ion-icon name="person" color="primary" item-end></ion-icon>
<ion-input type="text" formControlName="email" placeholder=" אימייל">

</ion-input>
        </ion-item>
        <ion-item>
<ion-icon name="lock" color="primary" item-end></ion-icon>
<ion-input type="password" formControlName="password" placeholder=" סיסמא">

</ion-input>
        </ion-item>
        <a>שכחת סיסמא? <b>קבל עזרה לשחזר סיסמא</b></a>
<button ion-button block outline color="light" (click)="login()" [disabled]="!emailPasswordForm.valid">כניסה</button>
        <p>או</p>
<button ion-button block color="Google+" icon-start *ngIf="facebookLoginEnabled==true" ion-button tappable
  (click)="loginProvider.facebookLogin()">
התחבר באמצעות Facebook<ion-icon name="logo-facebook"></ion-icon>
        </button>
<button ion-button block color="Google+" icon-start *ngIf="googleLoginEnabled==true" ion-button tappable (click)="loginProvider.googleLogin()">
התחבר באמצעות Google<ion-icon name="logo-google"></ion-icon>
</button>
<button ion-button block color="Google+" icon-start *ngIf="phoneLoginEnabled==true" ion-button tappable (click)="loginProvider.phoneLogin()">
התחבר באמצעות SMS <ion-icon name="text"></ion-icon>
</button>
<button ion-button clear full color="light" (click)="registerModel()">אין לך עדין חשבון ? הירשם</button>
      </ion-list>
      </form>
    </ion-card-content>
  </ion-card>

</ion-content>
