page-register {
    .app-icon{
        font-size:50px;
        color: color($colors, primary);
        text-align: center;
        min-height: 150px;
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .text-input-ios{
        border: 1px solid #eaeaea;
        padding: 10px;
        background: #f3f3f3;
    }
}
