page-add-members {
    .members {
      text-align: center;
      padding-top: 1em;
      padding-bottom: 1em;
  
      img {
        border-radius: 100%;
        width: 3.25em;
        height: 3.25em;
        margin: 0.5em;
      }
  
      img.activated,
      img:active {
        opacity: 0.5;
      }
    }
  
    .divider {
      width: 12vw;
      border-bottom: solid 0.2em color($colors, primary);
      ;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 1em;
    }
  }
  