<ion-header>
  <ion-navbar color="primary">
    <ion-title (click)="viewUser(userId)">{{title}}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content has-footer >
  <!-- Messages -->
  <div class="messages">
    <p class="center" *ngIf="startIndex > 0"><span tappable (click)="loadPreviousMessages()">Load previous messages</span></p>
    
    <div *ngFor="let message of messagesToShow">
      <div class="sender" *ngIf="isSender(message)" class="chatbox right">
        <div *ngIf="message.type == 'text'">
          <p>{{message.message}}</p>
        </div>
        <div *ngIf="message.type == 'location'" [innerHtml]="message.message"></div>
        <div *ngIf="message.type == 'contact'" [innerHtml]="message.message"></div>
        <div *ngIf="message.type == 'image'">
          <img tappable (click)="enlargeImage(message.message)" src="{{message.message}}" />
        </div>
        <div *ngIf="message.type == 'video'">
          <video controls width="100%" >
             <source src="{{message.message}}" type="video/mp4">
          </video>
        </div>
        <span>{{message.date | DateFormat}}</span>
      </div>
      <div *ngIf="!isSender(message)" class="chatbox left">
        <div *ngIf="message.type == 'text'">
          <p>{{message.message}}</p>
        </div>
        <div *ngIf="message.type == 'location'" [innerHtml]="message.message"></div>
        <div *ngIf="message.type == 'contact'" [innerHtml]="message.message"></div>
        <div  *ngIf="message.type == 'image'">
          <img tappable (click)="enlargeImage(message.message)" src="{{message.message}}" />
        </div>
        <div *ngIf="message.type == 'video'">
          <video controls width="100%">
             <source src="{{message.message}}" type="video/mp4">
          </video>
        </div>
        <span>{{message.date | DateFormat}}</span>
      </div>
    </div>
    
  </div>
</ion-content>
<!-- Message Box -->
<ion-footer>
  <ion-item class="bottom_bar">
    <button item-left ion-button clear (click)="attach()"><ion-icon name="md-attach"></ion-icon></button>
    <ion-textarea type="text" rows="0" placeholder="הקלד את הודעתך " [(ngModel)]="message"></ion-textarea>
    <button item-right ion-button clear (click)="send('text')" [disabled]="!message"><ion-icon name="md-send"></ion-icon></button>
    <!-- </ion-buttons> -->
  </ion-item>
</ion-footer>
