page-user-info {
    .top{
      background: color($colors, primary);
      padding-top: 10px;
      padding-bottom: 10px;
      text-align: center;
      color: #fff;
  }
  img{
      height: 80px;
      width: 80px;
  }
}  