<ion-header >

<ion-navbar >
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>profile</ion-title>
    <ion-buttons end>
      <button ion-button icon-only clear (click)="changeData()">
        <ion-icon name="md-create" *ngIf="isDisabled"></ion-icon>
        <ion-icon name="checkmark" *ngIf="!isDisabled" class="save_icon"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content >
<div class="profile_bg background-primary">
<img src="assets/img/InstantDealLogo1.png">
   </div>
<div class="profile_form background-primary" padding>
        <div class="profile_img">
          <img src="{{img}}">
          <span class="upload_img" (click)="getPhoto()"><ion-icon color="light" name="ios-camera-outline"></ion-icon></span>
        </div>
        <ion-item no-lines no-padding>
            <ion-input class="name" type="text" value="John Smith" placeholder="Username" disabled="{{isDisabled}}"></ion-input>
        </ion-item>
        <ion-item no-lines no-padding>
            <ion-icon color="primary" name="call" item-start></ion-icon>
            <ion-input id="elemtId" type="tel" value="012357489" placeholder="telephone"  disabled="{{isDisabled}}"></ion-input>
        </ion-item>
        <ion-item no-lines no-padding>
            <ion-icon color="primary" name="pin" item-start></ion-icon>
            <ion-textarea  value="Paradeplein, 2018 Antwerp, Belgium" placeholder="Address"  disabled="{{isDisabled}}"></ion-textarea>
        </ion-item>
     </div>
</ion-content>
