page-profile {
    .scroll-content{
       padding-bottom: 16px !important;
    }
   .profile_bg{
       height: 300px;
       img{
           object-fit: cover;
           height: 100%;
           width: 100%;
       }
   }
   .profile_form{
        position: absolute;
        margin: 10px;
        bottom: 0;
        width: calc(100% - 20px);
        background: color($colors,light);
        @include box-shadow(3px,3px,5px ,rgba(color($colors,dark),.2));
        border-radius: 5px;
        .profile_img{
            position: relative;
            width: 85px;
            margin-left: 14px;
            img{
                width: 85px;
                height: 85px;
                border-radius: 50%;
                object-fit: cover;
                background: darken(color($colors,Graycolor), 10%);
            }
            .upload_img{
                width: 30px;
                height: 30px;
                line-height: 30px;
                border-radius: 50%;
                background: color($colors,primary);
                position: absolute;
                bottom: 5px;
                right: -10px;
                font-size: 11px;
                text-align: center;
                ion-icon{
                    line-height: inherit;
                    font-size: 20px;
                }
            }
        }
        .item-md{
            .item-inner{
                margin-left: 10px;
                .text-input[disabled] {
                   opacity: .7;
                }
            }
            .name{
                font-weight: bold;
                font-size: 1.6rem;
            }
            ion-icon{
                font-size: 2rem;
                line-height: 3rem;
            }
        }
   }

   .background-primary {
//    background-color:color($colors,primary);
   }
}
