<ion-header>
<ion-navbar hideBackButton color=primary>
    <ion-title>Profile</ion-title>

  <button ion-button icon-only menuToggle>
    <ion-icon name="menu"></ion-icon>
  </button>
  </ion-navbar>
</ion-header>

<ion-content>
  <div *ngIf="user">
    <div class="center">
      <img src="{{user.img}}" style="border-radius: 100%;" tappable (click)="setPhoto()" onError="this.src='./assets/img/default.png'">
    </div>

    <ion-list padding no-lines style="background: transparent">
      <ion-item>
        <ion-label stacked>שם מלא</ion-label>
        <ion-input type="text" [(ngModel)]="user.name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label stacked>שם משתמש</ion-label>
        <ion-input type="text" [(ngModel)]="user.username"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label stacked>פרטים</ion-label>
        <ion-textarea [(ngModel)]="user.description"></ion-textarea>
      </ion-item>
      <ion-item>
        <ion-label stacked>אימייל</ion-label>
        <ion-input type="text" [(ngModel)]="user.email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label stacked>מין</ion-label>
        <ion-select [(ngModel)]="user.gender">
          <ion-option value="male">Male</ion-option>
          <ion-option value="female">Female</ion-option>
          <ion-option value="transgender">TransGender</ion-option>
          <ion-option value="none">None</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label stacked>יום הולדת</ion-label>
        <ion-datetime displayFormat="DD MMM YYYY" pickerFormat="DD MMM YYYY" [(ngModel)]="user.dob"></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label stacked>מיקום</ion-label>
        <ion-input type="text" id="txtHome" [(ngModel)]="user.location" (input)="search($event)"></ion-input>
      </ion-item>
      <div style="padding:10px">
        <button ion-button block (click)="save()">שמור הגדרות</button>
      </div>
    </ion-list>
    <ion-item-divider>הגדרות אחרות</ion-item-divider>
    <ion-list no-lines padding>

      <ion-item>
        <ion-label>אפשר ניראות ציבורית</ion-label>
        <ion-toggle item-right [(ngModel)]="user.publicVisibility" (ionChange)="changeVisibility()"></ion-toggle>
      </ion-item>
      <ion-item>
        <ion-label>סטאטוס ניראה</ion-label>
        <ion-toggle item-right [(ngModel)]="showOnline" (ionChange)="changeStatus()"></ion-toggle>
      </ion-item>
      <ion-item>
        <ion-label>אפשר קבלת הודעות מערכת</ion-label>
        <ion-toggle item-right [(ngModel)]="isPushEnabled" [disabled]="isBrowser" (ionChange)="changeNotification()"></ion-toggle>
      </ion-item>
      <ion-item (click)="showBlockedList()">
        <h2>רשימה שחורה</h2>
        <ion-icon item-right name="arrow-forward"></ion-icon>
      </ion-item>
      <ion-item tappable (click)="setPassword()" *ngIf="user && user.provider == 'Email'">
        עדכן סיסמא
      </ion-item>
      <ion-item tappable (click)="logout()">התנתק</ion-item>
      <ion-item tappable (click)="deleteAccount()" style="color:#F44336">
        מחק חשבון
      </ion-item>
    </ion-list>
  </div>
</ion-content>