
<ion-header>

  <ion-navbar>
    <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>הדילים שלי</ion-title>
    <ion-buttons end>
        <button ion-button icon-only (click)="global.presentfilterModal()">
            <ion-icon name="funnel"></ion-icon>
        </button>
        <button ion-button icon-only (click)="searchInput=!searchInput">
          <ion-icon name="search"></ion-icon>
        </button>
    </ion-buttons>
  </ion-navbar>
  <!-- <ion-toolbar *ngIf="searchInput"> -->
  <ion-toolbar>
      <ion-searchbar placeholder='' no-margin></ion-searchbar>
  </ion-toolbar>

</ion-header>


<ion-content padding>
    <ion-list class="main_list" no-margin>
      <ion-item *ngFor="let item of coupons" [navPush]="'DetailsPage'" no-lines>
        <ion-thumbnail item-start>
          <img src="{{item.img}}">
        </ion-thumbnail>

        <div *ngIf="item.type=='offer'">
          <h2 class="main_title" text-uppercase>{{item.title}}</h2>
          <h2 text-uppercase>ESThe &reg;</h2>
          <p class="short_note">on any one (1) ESThe Iced Tea 18.5oz, 23oz or multipack</p>
          <p><span>00.10$</span>free shipping at amazon</p>
        </div>

        <div *ngIf="item.type=='coupon'">
          <h2 class="short_note">{{item.title}}</h2>
          <p>From jcpenney</p>
          <p class="date" text-uppercase>Ends 10.09.2017</p>
          <button ion-button color="primary" (click)="global.getCode($event)" text-capitalize no-margin>
            <span *ngIf="!global.codenumber">Coupon Code</span>
            <span *ngIf="global.codenumber">0486Fd25</span>
          </button>
        </div>
        
        <button class="float_btn" color="primary" (click)="deleteCoupon(item)" ion-button icon-only no-margin>
            <ion-icon name="remove"></ion-icon>
        </button>
      </ion-item>
      <ion-item class="no_results" *ngIf="coupons?.length == 0" text-center>No coupons found</ion-item>
    </ion-list>
</ion-content>
