$font-path: "../assets/fonts";

@import "ionic.globals";

$app-direction: rtl;

@mixin background($size:cover, $repeat: no-repeat, $position:center) {
  background: {
    size: $size;
    repeat: $repeat;
    position: $position;
  }
}


@mixin box-shadow($top, $left, $blur, $color, $inset: false) {
  @if $inset {
    -webkit-box-shadow: $inset $top $left $blur $color;
    box-shadow: $inset $top $left $blur $color;
  }

  @else {
    -webkit-box-shadow: $top $left $blur $color;
    box-shadow: $top $left $blur $color;
  }
}


$colors: (
  primary: #c02727,
  
  secondary: #8c8c8c,
  danger:     #f53d3d,
  light: #fff,
  dark:       #222,
  white: #fff,
  balanced:   #33cd5f,
  gray: #c3c3c3,
  facebook: #3052a8,
  google: #dd4b39,
  sendrequest: #2196F3,
  cancelrequest: #F44336,
  acceptrequest: #4CAF50,
  Graycolor: #f0f2f1,
  Darkgraycolor: #6e6e6e,
  menucolor: #393e46
);

// $primary: #fff;
$secondary: #55acee;
$secondary-active: #6acdff;
$dark: #333;
$dark-active: #4c4c4c;
$gray: #c3c3c3;

$chat-right-bg:#34B7F1;
$chat-right-color: color($colors,light);
$chat-left-bg:#DCF8C6;
$chat-left-color: color($colors, light);

// $toolbar-background: $primary;
$fab-content-margin: 0;

$refresher-border-color: rgba(0, 0, 0, 0);



// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here
$button-md-text-transform: none;
$segment-button-md-border-bottom-color:transparent;
$segment-button-md-font-size:2.1rem;
$segment-button-md-opacity:1;
$button-md-border-radius:5px;
$checkbox-md-icon-background-color-off:color($colors, secondary);
$checkbox-md-icon-border-color-off:color($colors, secondary);
$item-md-font-size:1.5rem;
$text-input-md-show-focus-highlight:false;
$toolbar-md-title-font-size:1.7rem;
$toolbar-md-title-text-color: color($colors, dark);
$card-md-border-radius:5px;
$toggle-md-track-background-color-on:#b9b8b8;
$toggle-md-active-color: color($colors, primary);
$toggle-md-track-background-color-off: #b9b8b8;
$toggle-md-track-background-color-on:#ddd;
$toggle-md-track-height:10px;
$toggle-md-track-width: 29px;
$toggle-md-handle-width:15px;
$toggle-md-handle-height:15px;
$toggle-md-handle-background-color-off:#eee;
$alert-md-title-font-size:17px;
$alert-md-head-padding-start:17px;


@import "ionic.theme.default";
@import "ionicons";
@import "roboto";
@import "noto-sans";
