<ion-header>
  <ion-navbar color="primary">
<button ion-button icon-only menuToggle>
  <ion-icon name="menu"></ion-icon>
</button>
    <ion-title>{{title}}</ion-title>
    <ion-buttons end>
      <button ion-button *ngIf="this.tab == 'search'" (click)="openFilter()"><ion-icon name="funnel"></ion-icon></button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-segment padding [(ngModel)]="tab" (ionChange)="segmentChanged($event)">
    <ion-segment-button value="friends">
      FRIENDS
    </ion-segment-button>
    <ion-segment-button value="requests">
      REQUESTS
      <span *ngIf="friendRequestCount != 0">({{friendRequestCount}})</span>
    </ion-segment-button>
    <ion-segment-button value="search">
      FIND NEW
    </ion-segment-button>
  </ion-segment>
  <div [ngSwitch]="tab">
    <div *ngSwitchCase="'friends'">
      <!-- No friends to show -->
      <div class="empty-list" *ngIf="friends && friends.length == 0">
        <h1>
          <ion-icon name="contacts"></ion-icon>
        </h1>
        <p>You don't have new friend yet</p>
      </div>
      <!-- Show list of friends -->
      <ion-list class="avatar-list" *ngIf="friends && friends.length > 0">
        <!-- <ion-searchbar [(ngModel)]="searchFriend" placeholder="Search for friend or username" showCancelButton="true" cancelButtonText="Done"></ion-searchbar> -->
        <ion-item *ngFor="let friend of friends | friendFilter:searchFriend" no-lines (click)="message(friend.$key); $event.stopPropagation();">
          <ion-avatar item-left>
            <img src="{{friend.img}}" onError="this.src='./assets/images/default-dp.png'">
          </ion-avatar>
          <ion-note item-right *ngIf="friend.online == true">online</ion-note>
          <h2>{{friend.name}}</h2>
          <p>{{friend.description}}</p>
        </ion-item>
      </ion-list>
    </div>



    <div *ngSwitchCase="'requests'">
      <!-- No friend requests sent or received. -->
      <div class="empty-list" *ngIf="(friendRequests && friendRequests.length == 0) && (requestsSent && requestsSent.length == 0)">
        <h1>
          <ion-icon name="md-filing"></ion-icon>
        </h1>
        <p>No New Requests</p>
      </div>
      <!-- Show friend requests received. -->
      <ion-list class="avatar-list" *ngIf="friendRequests && friendRequests.length > 0">
        <ion-item *ngFor="let friendRequest of friendRequests" no-lines tappable (click)="viewUser(friendRequest.$key)">
          <button item-right color="acceptrequest" ion-button outline tappable (click)="acceptFriendRequest(friendRequest); $event.stopPropagation();">
            Accept
          </button>
          <ion-avatar item-left>
            <img src="{{friendRequest.img}}" onError="this.src='./assets/images/default-dp.png'">
          </ion-avatar>
          <h2>{{friendRequest.name}}</h2>
          <p>has sent you a friend request.</p>
        </ion-item>
      </ion-list>
      <!-- Show friend requests sent. -->
      <ion-list class="avatar-list" *ngIf="requestsSent && requestsSent.length > 0">
        <ion-item *ngFor="let requestSent of requestsSent" no-lines tappable (click)="viewUser(requestSent.$key)">
          <button item-right color="cancelrequest" ion-button outline tappable (click)="cancelFriendRequest(requestSent); $event.stopPropagation();">
            Cancel
          </button>
          <ion-avatar item-left>
            <img src="{{requestSent.img}}" onError="this.src='./assets/images/default-dp.png'">
          </ion-avatar>
          <h2>{{requestSent.name}}</h2>
          <p>friend request sent.</p>
        </ion-item>
      </ion-list>
    </div>

    <div *ngSwitchCase="'search'">
      <!-- No other users to send friend request right now. -->
      <div class="empty-list" *ngIf="accounts && (accounts.length == 0 || (accounts.length == excludedIds.length))">
        <h1>
          <ion-icon name="md-search"></ion-icon>
        </h1>
        <p>We can't find new users right now</p>
      </div>
      <!-- Show other users excluding yourself, and friends with the help of searchFilter pipe. -->
      <ion-list class="avatar-list" *ngIf="accounts && accounts.length > 0">
        <ion-searchbar *ngIf="accounts.length != excludedIds.length" [(ngModel)]="searchUser" placeholder="Search for name or username"
          showCancelButton="true" cancelButtonText="Done"></ion-searchbar>
        <ion-item *ngFor="let account of accounts | searchFilter: [excludedIds, searchUser]" no-lines tappable (click)="viewUser(account.$key)">
          <div item-right>
            <!-- Show appropriate buttons depending on the status of this user in relation to the current user. -->
            <!-- // Returns:
                // 0 when user can be requested as friend.
                // 1 when a friend request was already sent to this user.
                // 2 when this user has a pending friend request. -->
            <button color="sendrequest" ion-button outline tappable (click)="sendFriendRequest(account); $event.stopPropagation();" *ngIf="getStatus(account) == 0">
              <!-- <ion-icon name="md-add-circle" class="success"></ion-icon> -->
              add
            </button>
            <button color="cancelrequest" ion-button outline tappable (click)="cancelFriendRequest(account); $event.stopPropagation();"
              *ngIf="getStatus(account) == 1">
              <!-- <ion-icon name="md-close-circle" class="danger"></ion-icon> -->
              cancel
            </button>
            <button color="acceptrequest" ion-button outline tappable (click)="acceptFriendRequest(account); $event.stopPropagation();"
              *ngIf="getStatus(account) == 2">
              <!-- <ion-icon name="md-checkmark-circle" class="success"></ion-icon> -->
              accept
            </button>
          </div>
          <ion-avatar item-left>
            <img src="{{account.img}}" onError="this.src='./assets/images/default-dp.png'">
          </ion-avatar>
          <h2>{{account.name}}</h2>
          <p>@{{account.username}}</p>
        </ion-item>
      </ion-list>
    </div>
  </div>

</ion-content>