
//Add class="no-scroll" on <ion-content> to disable scrolling
.no-scroll .scroll-content {
  overflow: hidden;
}

//Center Class to align content to center.
.center {
  text-align: center;
}
.tabs-ios .tabbar{
  background: #fff;
}
.tabs-ios .tab-button[aria-selected=true] .tab-button-icon{
  color: color($colors, primary);
  ;
}

.tabs-ios .tab-button[aria-selected=true]{
  color: color($colors, primary);
  ;
  border-bottom: 2px solid color($colors, primary);
  ;
}

.segment-ios .segment-button{
  border-color: color($colors, primary);
  ;
  color:color($colors, primary);
  ;
}
.segment-ios .segment-button.segment-activated{
  background: color($colors, primary);
  ;
}

.header-ios .toolbar-background-ios, .footer-ios .toolbar-background-ios{
  border-style: none;
}
.top{
  background: color($colors, primary);
  ;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  color: #fff;
}
.top img{
  height: 80px;
  width: 80px;
}
a{
  color: #222;
}

.chatbox{
  padding:3px;

  border-radius: 5px;
  max-width: 70%;
  min-width: 70%;
  margin: 5px;
}
.chatbox span{
  font-size: 12px;
}
.right{
  border-radius: 5px;
  background: $chat-right-bg;
  color:$chat-right-color;
  float: right;
  text-align: right;
  padding-right: 5px
}
.left{
  border-radius: 5px;
  background: $chat-left-bg;
  color:$chat-left-color;
  float: left;
  text-align: left;
  padding-left: 5px
}
video{
  background: $chat-left-bg;
  border-radius: 5px;
}

//Empty List
.empty-list {
  position: absolute;
  top: 20%;
  width: 100%;
  text-align: center;

  h1,
  p {
    color: $gray;
  }

  h1 {
    font-size: 3em;
  }

  p {
    font-size: 1.125em;
    width: 70vw;
    margin-left: auto;
    margin-right: auto;
  }

  button {
    background: $dark;
  }

  button.activated,
  button:active {
    background: $dark-active;
  }
}


//Footer Bar for message.html and group.html
ion-footer.footer {
  background-position: initial initial;
  background-repeat: initial initial;
}

.bottom_bar {
  padding-top: 0.25em;
  // padding-bottom: 0.25em;
  border-top: 1px solid #e1e1e1;

  ion-textarea {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    font-size: 12px;
    border-radius: 0.75em;
  }

  button ion-icon {
    font-size: 2em !important;
    color: color($colors, primary);
    ;
  }
}

// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

h3 {
  font-size: 1.7rem;
}

/* ion header */
.header-md {
  &:after {
    background-image: none;
  }

  .toolbar-title-md {
    text-transform: capitalize;
  }

  .bar-buttons-md[end] {
    white-space: nowrap;
  }
}

/* float btn */
.float_btn {
  width: 30px;
  height: 30px !important;
  line-height: 30px;
  position: absolute;
  right: -9px;
  bottom: -9px;
  z-index: 1000;
}

/* list items style */
.main-style {
  &.item-md {
    @include box-shadow(3px, 3px, 5px, rgba(color($colors, dark), .2));
    border-radius: 5px;
    margin-bottom: 16px;

    &:last-child {
      margin-bottom: 0;
    }

    .item-inner {
      // padding-right: 0;
      margin-left: 0;

      .text-input-ios {
        margin-right: 0;
      }
    }
  }
}

/* menu style*/
ion-menu {
  ion-header {
    background: color($colors, primary);
    color: color($colors, light);

    img {
      width: 85px;
      height: 85px;
      border-radius: 50%;
      object-fit: cover;
    }

    h3 {
      margin: 5px 0;
    }

    p {
      margin: 0 0 20px 0;
    }
  }

  .item-md {
    color: color($colors, menucolor);
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.4rem;
    height: 40px;
    min-height: 40px;

    &.active_item {
      ion-icon {
        background: color($colors, primary);
        color: color($colors, light);
        border-radius: 5px;
      }
    }

    ion-icon {
      font-size: 2rem;
      line-height: 3.1rem;
      width: 30px;
    }

    .item-inner {
      // padding: 0;
      margin-left: 5px !important;
    }
  }
}

/*telInput*/
.selected-flag {
  // padding: 0 !important;
}

.intl-tel-input {
  .flag-container {
    // padding: 0;
    left: 8px !important;
  }
}