<ion-menu side="right" [content]="content">
    <ion-header text-center padding-vertical>
        <img src="assets/img/profile.png" margin-top>
        <h3>Ori</h3>
        <p>Arbeson@gmail.com</p>
    </ion-header>

    <ion-content padding>
        <ion-list>
            <ion-item menuClose *ngFor="let p of pages; let i = index" [ngClass]="{'active_item':activeitem==i}"
                (click)="openPage(p);activeItem(i)" no-lines no-padding>
                <ion-icon name="{{p.icon}}" item-start></ion-icon>
                {{p.title}}
            </ion-item>
        </ion-list>
    </ion-content>
    <ion-footer>
        <ion-item (click)="goTo()" menuClose no-lines>
            <ion-icon name="log-out" item-start></ion-icon>
            התנתק
        </ion-item>
    </ion-footer>
</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav class="md" [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>