<ion-header>

  <ion-navbar>
    <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>notifications</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-list class="main_list" no-margin>
      <ion-item *ngFor="let item of notifications" no-lines>
        <ion-thumbnail item-start>
          <img src="{{item.img}}">
        </ion-thumbnail>

        <h2 class="main_title" text-uppercase>{{item.title}}<span float-right>{{item.date}}</span></h2>
        <h2 text-uppercase>ESThe &reg;</h2>
        <p class="short_note" no-margin>on any one (1) ESThe Iced Tea 18.5oz, 23oz or multipack</p>
      </ion-item>
    </ion-list>
</ion-content>
