page-notifications {
    .main_list {
        .item-md {
            height: 100px;
            h2{
                font-size: 1.4rem;
                font-weight: normal;
                margin-bottom: 0;
                line-height: 2rem;
            }
            p{
                margin-bottom: 0;
            }
        }
    }
}
