page-setting {
   .item-md{
         @extend .main-style !optional;
        ion-label{
            color: color($colors,dark) !important;
            font-weight: bold;
            p{
                font-weight: normal;
                white-space: normal;
            }
        }
        &.item-select{
            .select-icon{
                display: none;
            }
            .select-text{
                color: color($colors,primary);  
            }
        }
   }
   .notif_setting{
        @include box-shadow(3px,3px,5px ,rgba(color($colors,dark),.2));
        border-radius: 5px;
        margin-bottom: 16px;
        .list-header-md{
            margin-bottom: 0;
            ion-label{
                font-size: 1.7rem !important;
            }
        }
        .item-md{
            box-shadow: none; 
        }
   }
}
