<ion-header>

  <ion-navbar>
    <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>setting</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-item>
      <ion-label>Language</ion-label>
      <ion-select>
          <ion-option value="english" selected>English</ion-option>
          <ion-option value="french">French</ion-option>
      </ion-select>
  </ion-item>
  <ion-list class="notif_setting" radio-group>
      <ion-list-header no-lines>
       Notification
      </ion-list-header>
      <ion-item>
          <ion-label>Your Account<p>Get notified account alerts</p></ion-label>
          <ion-toggle></ion-toggle>
      </ion-item>
      <ion-item>
          <ion-label>Your Shipments<p>Find out When package ship & arrive</p></ion-label>
          <ion-toggle></ion-toggle>
      </ion-item>
  </ion-list>
  <ion-item  [navPush]="'LoginPage'">
    Logout
    <ion-icon color="primary" name="log-out" item-end></ion-icon>
  </ion-item>
</ion-content>
