page-filtermodal {
    ion-buttons[start] {
    order: 2;
    }
}
.filter-modal{
 
    
    background: rgba(color($colors,Darkgraycolor),.25);
    ion-header{
        .toolbar-background-md{
            background: color($colors,Darkgraycolor);
        }
        .bar-button-md[icon-only]{
            ion-icon{
                color: color($colors,light);
            }
        } 
        .toolbar-title-md{
            color: color($colors,light);
            text-align: center;
        }
    }
    .content-md{
         background: color($colors,Darkgraycolor);
         height: calc(100% - 140px);
         border-radius: 0 0 5px 5px;
         ion-item-group{
             display: inline-block;
             border-top: 1px solid color($colors,light);
             padding-bottom: 5px;
             &:first-child{
                 border: none;
             }
         }
         .item-md{
             color: color($colors,light);
             background: none;
             font-size: 1.4rem;
             &.item-checkbox{
                 width: 50%;
                 float: right;
                 background: none;
                 padding-right: 5px;
                 .checkbox-md {
                    margin-left: 15px;
                    border: 1px solid color($colors,light);
                    border-radius: 2px;
                    .checkbox-icon{
                        background: none;
                        border-color: transparent;
                    } 
                 }
             }
         }
    }
}


