
<ion-header>

  <ion-navbar>
    <ion-buttons start>
      <button ion-button clear icon-only>
          <ion-icon name="funnel"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>מסנן</ion-title>
    <ion-buttons end>
        <button ion-button icon-only (click)="dismiss()">
            <ion-icon name="close"></ion-icon>
        </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content  padding>
    <ion-item-group  *ngFor="let item of global.filter">
      <ion-item-divider no-lines no-padding>{{item.category}}</ion-item-divider>
      <ion-item *ngFor="let object of item.filter" no-lines>
<ion-label stacked>{{object.title}}</ion-label>
          <ion-checkbox (ionChange)="global.filterData(object)" [(ngModel)]="object.check" color="Darkgraycolor"></ion-checkbox>
      </ion-item>
    </ion-item-group>
    <!--<button (click)="dismiss()" color="light" float-right ion-button clear>
       Done
    </button>-->
</ion-content>
