<ion-header>
  <ion-navbar hideBackButton color=primary>
    <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>בית</ion-title>
    <ion-buttons end>
        <button ion-button icon-only (click)="global.presentfilterModal()">
            <ion-icon name="funnel"></ion-icon>
        </button>
        
        <button ion-button icon-only (click)="searchInput=!searchInput">
          <ion-icon name="search"></ion-icon>
        </button>
    </ion-buttons>
  </ion-navbar>
   <ion-toolbar>
      <ion-searchbar  placeholder='חיפוש' no-margin></ion-searchbar>
   </ion-toolbar>
</ion-header>
<ion-content class="background_primary">

<div class="home_banner" padding-bottom>
<img  src="assets/img/InstantDealLogo2.png">
</div>
  <div >

    <div class="filter_data"  *ngIf="global.filterresults.length" >
<button color="light" (click)="global.deleteFilter(item)" *ngFor="let item of global.filterresults" ion-button icon-right round small style="float: right">
         {{item.title}}
         <ion-icon  name="ios-close" ></ion-icon> 
      </button>
    </div>

<ion-card *ngFor="let item of items" (click)="message(item.userId); $event.stopPropagation();">

  <ion-item>
<ion-avatar item-start margin (click)="message(item.userId); $event.stopPropagation();">
      <img src={{item.logo}}>
    </ion-avatar>
    <h2>{{item.title}}</h2>
<p >{{item.subtitle}}</p>
  </ion-item>
  <br>

<img  width="100%" height="100" src={{item.img}}>

  <ion-card-content>
{{item.content}}
  </ion-card-content>

  <ion-row>
    <ion-col>
<button ion-button  clear small>
        <ion-icon name=""></ion-icon>
<div>{{item.quantity}} נשארו</div>
      </button>
    </ion-col>
    <ion-col>
<button 
 ion-button
 small clear
 icon-left>
<ion-icon  name="text">
</ion-icon>
תגובות
      </button>
    </ion-col>
    <ion-col>
      <button ion-button clear small icon-left>
<ion-icon  name="clock"></ion-icon>
 {{item.duration}}
      </button>
    </ion-col>
  </ion-row>
</ion-card>
  </div>  
</ion-content>
