page-details {
    .scroll-content{
        padding-bottom: 16px !important;
    } 
    .card-md{
    width: 100%;
    margin: 0;
    overflow: visible;
    @include box-shadow(3px,3px,5px ,rgba(color($colors,dark),.2));
    .card_img{
        position: relative;
        height: 200px;
        img{
           object-fit: cover;
           height: 100%;
           width: 100%;
        }
        .float_btn {
            width: 35px;
            height: 35px !important;
            line-height: 35px;
            ion-icon{
                padding: 0;
                width: 35px;
                text-align: center;
            }  
        }
    }
    .card-title-md{    
        font-size: 1.5rem;
        font-weight: bold;
        color: color($colors,primary);
        padding-bottom: 0;
        span{
            display: block;
            color: color($colors,dark);
            margin-top: 5px;
        }
    }
    p{
        color: color($colors,dark);
        font-size: 1.3rem;
        margin-bottom: 5px;
        line-height: 17px;
        span{
            color: color($colors,primary);
            padding-right: 10px;  
        }
    }
    .button-md{
        height: 35px;
        margin-top: 10px;
    }
  } 
  
  .comments{
    .list-header-md{
    background: color($colors,primary);  
    color: color($colors,light);
    height: 35px;
    min-height: 35px;
    border-radius: 5px;
    @include box-shadow(3px,3px,5px ,rgba(color($colors,dark),.2));
    }
    .comment_item{
        padding: 0;
        align-items: flex-start;
        border-bottom: 1px solid rgba(color($colors,secondary),.5);
        &:last-child{
            border: none;
        }
        .item-inner{
        border: none;
            h2{
                font-size: 1.5rem;
                margin-bottom: 3px;
                span{
                    padding-left: 8px;
                    color:color($colors,secondary);  
                    font-size: 1.2rem;
                    font-weight: normal;
                }
            }
            p{
                max-height: 46px;
                overflow: hidden;
                white-space: normal;
                font-size: 1.3rem;
            }
        }
    }
    textarea.text-input{
        border: 1px solid rgba(color($colors,secondary),.5);
        padding: 5px 15px;
        border-radius: 2px;
        margin: 5px 0;
        width: 100%;
    }
  } 
}
