<ion-header>

  <ion-navbar>
    <ion-title>details</ion-title>
     <ion-buttons end>
        <button ion-button icon-only>
            <ion-icon name="logo-facebook"></ion-icon>
        </button>
        <button (click)="shareSheetShare()" ion-button icon-only>
          <ion-icon name="share"></ion-icon>
        </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <!-- details card -->
  <ion-card margin-bottom>
    <div class="card_img">
      <img src="assets/img/details.png"/>
      <button class="float_btn" color="primary" [navPush]="'CouponsPage'" ion-button icon-only no-margin>
          <ion-icon name="add"></ion-icon>
      </button>
    </div>
    <ion-card-content>
      <ion-card-title>
        SAVE $0.55<span text-uppercase>ESThe &reg;</span>
      </ion-card-title>
      <p>on any one (1) ESThe Iced Tea 18.5oz, 23oz or multipack</p>
      <p><span>00.10$</span>free shipping at amazon</p>
      <button ion-button color="primary" (click)="global.getCode($event)" text-capitalize no-margin>
        <span *ngIf="!global.codenumber">Coupon Code</span>
        <span *ngIf="global.codenumber">0486Fd25</span>
      </button>
    </ion-card-content>
  </ion-card>
  
  <!-- comments -->
  <div  class="comments">
    <ion-list no-margin>
      <ion-list-header>
      Comment (2)
      </ion-list-header>
      <ion-item  class="comment_item" *ngFor="let item of comments"  no-padding>
        <ion-avatar item-start>
          <img src="{{item.img}}">
        </ion-avatar>
        <h2>{{item.name}}<span>{{item.date}}</span></h2>
        <p>Order quickly before price change</p>
      </ion-item>
    </ion-list>
    <ion-textarea rows="1" placeholder="write comment" margin-top></ion-textarea>
  </div>
</ion-content>
