.text-style {
    white-space: normal;
    max-height: 36px;
    overflow: hidden;

}

test-page {

    img {
        object-fit: cover;
    }

    [menuToggle] {
        display: block !important;

    }

    .filter_data {
        white-space: nowrap;
        height: 40px;

        .scroll-content {
            padding: 0 !important;

            .button-md {
                display: inline-block;
                min-width: 100px;
                width: auto;
                height: 23px;
                line-height: 23px;
                background: color($colors, light);
                color: color($colors, light);
                margin-right: 10px;
                padding: 0 8px;
                text-transform: capitalize;
                font-weight: normal;
            }
        }
    }

    .home_banner {
        height: 160px;

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            background-color: color($colors, primary);
        }
    }
}

/* main list style */
.main_list {}

.background_primary {
    background-color: color($colors, primary);
}
